<mat-chip-listbox aria-label="Generation filter" (change)="onChipListChange($event)">
  <mat-chip-option value="1">I</mat-chip-option>
  <mat-chip-option value="2">II</mat-chip-option>
  <mat-chip-option value="3">III</mat-chip-option>
  <mat-chip-option value="4">IV</mat-chip-option>
  <mat-chip-option value="5">V</mat-chip-option>
  <mat-chip-option value="6">VI</mat-chip-option>
  <mat-chip-option value="7">VII</mat-chip-option>
  <mat-chip-option value="8">VIII</mat-chip-option>
  <mat-chip-option value="9">IX</mat-chip-option>
</mat-chip-listbox>
